.leng-btn .btn {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    background-color: #1a1a1a;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.leng-btn .btn:active {
    color: white;
    background-color: #1a1a1a;
    border: none;
    transform: scale(0.95);
}

.leng-btn .btn:hover {
    color: white;
    background-color: #1a1a1a;
    transform: scale(1.1);
}
