.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(231, 4, 4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 400px;
    align-items: center;
}

.modal-content > p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.close {
    padding: 8px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.close:hover {
    transform: scale(1.03);
}

.close:active {
    transform: scale(0.99);
}