/* .container-fluid {
    display: flex;
    justify-content: center;
} */

.card-body {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    margin-left: 8rem;
    margin-right: 8rem;
    /* margin-bottom: 5rem; */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.card-subtitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    transition: font-size 0.3s linear;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 18px;
}

.resident-buttons {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
}

.resident-button {
    padding: 10px;
    font-size: 18px;
    background-color: #717872;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.resident-button.selected {
    background-color: rgb(44, 108, 87);
    color: #fff;
    border: none;
}

.resident-button:hover {
    transform: scale(1.03);
    background-color: rgb(44, 108, 87);
}

.resident-button:active {
    transform: scale(0.99);
}

.select {
    display: flex;
    align-items: center;
    width: 100%;
}

.select-box {
    border: 1px solid;
    border-radius: 10px;
    padding: 0.5rem;
    scale: 1.15;
}

.card-footer {
    display: flex;
    flex-direction: row;
    /* margin-top: 1rem; */
    background-color: white;
    
}

.button-1 {
    padding: 10px;
    width: 250px;
    font-size: 18px;
    text-align: center;
    background-color: #535252;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 1.5rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-2 {
    padding: 10px;
    width: 250px;
    font-size: 18px;
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 1.5rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-1:hover,
.button-2:hover {
    background-color: rgb(44, 108, 87);
    transform: scale(1.03);
}

.button-1:active, 
.button-2:active {
    transform: scale(0.99);
}

/* Media Queries for responsiveness */

@media (max-width: 1220px) {
    .card-body > .card-footer {
        flex-direction: column;
    }
}

/* @media (min-width: 600px) {


    .card-body {
        margin: 2rem;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-subtitle {
        font-size: 1.5rem;
    }
}

@media (min-width: 920px) {
    .card-body {
        margin: 6rem;
    }

    .card-title {
        font-size: 2.8rem;
    }

    .card-subtitle {
        font-size: 2.3rem;
    }

    .card-footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media (min-width: 1024px) {
    .card-title {
        font-size: 3.5rem;
    }

    .card-subtitle {
        font-size: 3rem;
    }
} */