.d-flex .container-fluid {
    margin-top: 7rem;
}

.text-center {
    margin-bottom: 20px;
}

.text-center h1 {
    font-size: 3rem;
    font-weight: bold;
}

.text-center p {
    margin: 1rem;
}

.btn-outline-dark {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #535252;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 1rem;
}

.btn-dark {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-dark:hover,
.btn-outline-dark:hover {
    background-color: rgb(44, 108, 87);
    transform: scale(1.03);
}

.btn-dark:active,
.btn-outline-dark:active {
    background-color: rgb(44, 108, 87);
    transform: scale(0.99);
}
